# Dependency directory
node_modules

# Editors
.vscode


# OS metadata
.DS_Store
Thumbs.db

# TypeScript build info files
*.tsbuildinfo
dist

#agent
agent_memory

# Config
config/config.yaml
config/mcp.json

# log
logs

# Test python scripts
test_python_script/
